<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.numbersgame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_calculator_svgrepo_com"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_calculator_svgrepo_com"
        android:supportsRtl="true"
        android:theme="@style/Theme.NumbersGame"
        tools:ignore="AllowBackup">
        <activity android:name=".SplashView"
                    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity   android:name=".MainActivity"
                    android:windowSoftInputMode="adjustPan"
                    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>